<p>Warning: at time of writing there is ~940 weapons to load</p>
<table style="text-align:center;">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Item</th>
            <th>Image ID</th>
            <th>Census Image</th>
            <th>PSArchives ID</th>
        </tr>
    </thead>
    <tbody>
    {{#each weapon}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.image_id}}</td>
            <td><img src="{{this.census}}" alt="404 {{this.image_id}}"/></td>
            <td><img src="{{this.psarchives}}" alt="404 {{this.image_id}}"/></td>
        </tr>
    {{/each}}
    </tbody>
</table>